body {
	background-color: black;
	/*background: url('../images/guitar_bw.jpg') no-repeat 0 0;
	background-size: cover;*/
}

.mobile {
	display: none;
}

.skull {
	display: inline-block;
  text-indent: -9999px;
  width: 13px;
  height: 15px;
	margin: 0 10px 0 0;
  background: url(../images/skull.svg);
  background-size: cover;
}

.play {
	position: absolute;
	z-index: 10;
	height: 80px;
	color: white;
}

.play svg {
	display: block;
	width: 50;
	height: 50;
	color: white;
}

.options {
	/*position: absolute;*/
	z-index: 10;
	width: 100%;
	top: 140px;
	background-color: #fff;
	display: none;
	text-align: center;
	margin-bottom: 20px;
}

ul.options {
	list-style-type: none;
	padding-left: 0px;
}

.options li a {
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 20px;
	background-color: #4d1975;
	color: #fff;
}

.options li a:hover {
	background-color: #333;
	color: #fff;
}

.options li a:active {
	background-color: #000;
	color: #fff;
}



.videoContainer {
    /*position: absolute;*/
		padding-top: -100px;
    width: 90%;
		height: 200px;
    overflow: hidden;
		margin: 0 auto;
		background: transparent url('../images/guitar_bw.jpg') no-repeat 0 0;
   	background-size: cover;
}

.videoContainer video {
    width: 100%;
    height: 100%;
}

header {
	z-index: 10;
	position: relative;
}

.purple_overlay {
	background-color: rgba(0,0,0,.5);
	height: 100vh;
	position: fixed;
	z-index: -1;
}

.main_image {
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: -2;
}

.mainlogo {
	width: 300px;
	padding-top: 20px;
	margin: 0 auto;
	display: block;
}

nav {
	height: 163px;
	width: 100%;
	border-bottom: 1px solid #000;
}

nav ul {
	list-style-type: none;
	text-align: center;
	float: none;
	padding-left: 0;
	width: fit-content;
	margin: 10px auto;
}

.wf-loading nav ul li, .wf-loading #guitar-details h2, .wf-loading #guitar-details h1, .wf-loading #guitar-details p {
    font-family: "helvetica";
    visibility: hidden;
  }

nav ul li {
	font-family: "metalista-web";
	font-size: 1.5em;
	line-height: 80px;
	float: left;
	margin-top: -17px;
	display: inline-block;

}

nav ul li, nav ul li a {
	display: block;
	line-height: 80px;
	padding: 0 10px;
	color: #bbb;
}

nav ul li a:hover {
	color: #4d1975;
}

nav ul li a {
	text-decoration: none;
}

#guitar-details {
	z-index: 2;
	position: relative;
	font-family: sans-serif;
	color: #fff;
	width: 90%;
	margin-left: 5%;
	margin-top: 20px;
	padding-bottom: 50px;
	display: block;
	font-family: "proxima-nova", sans-serif;
}

#guitar-details h2 {
	font-family: "metalista-web";
	font-weight: 400;
	font-size: 2.5em;
	margin: 0;
}

#guitar-details h1 {
	font-family: "metalista-web";
	font-weight: 400;
	font-size: 5em;
	margin: -20px 0 0 0;
}

#guitar-details p {
	line-height: 18px;
	margin-bottom: 20px;
}


@media (min-width: 768px) {

	nav ul li {
		font-family: "metalista-web";
		font-size: 2em;
		line-height: 80px;
		float: left;
		margin-top: -17px;
		display: inline-block;

	}

	.mobile {
		display: block;
	}

	.notmobile {
		display: none;
	}

	.mainlogo {
		width: 500px;
		margin: 0 auto;
		display: block;
	}
	.kirkback {
		display: none;
	}
	.videoContainer {
	    width:90%;
			height: 420px;
	    overflow: hidden;
			background: transparent url('../images/guitar_bw.jpg') no-repeat 0 0;
			background-size: 100%;

	}
	.videoContainer video {
	    min-width: 100%;
	    height: 100%;
	}
	nav {
		background-color: rgba(0,0,0, 1);
		height: 215px;
		width: 100%;
		border-bottom: none;
		background-color: none;

	}
	/*.mobilecenter {
		background-color: none;
		width: 100%;
	}*/
	nav ul {
		list-style-type: none;
		text-align: center;
		float: none;
		padding-left: 0;
		width: fit-content;
		margin: 10px auto;
	}
	nav ul li {
		display: inline-block;
	}
	#guitar-details {
		z-index: 2;
		position: relative;
		font-family: sans-serif;
		color: #fff;
		width: 90%;
		margin-left: 5%;
		margin-top: 20px;
		display: block;
		font-family: "proxima-nova", sans-serif;
		padding-bottom: 100px;
	}
	#guitar-details h2 {
		font-family: "metalista-web";
		font-weight: 400;
		font-size: 3em;
		margin: 0;
	}

	#guitar-details h1 {
		font-family: "metalista-web";
		font-weight: 400;
		font-size: 8em;
		margin: -20px 0 0 0;
	}

}

@media (min-width: 1000px) {

	.mobile {
		display: block;
	}

	.options {
		position: absolute;
		z-index: 10;
		width: 20%;
		top: 65px;
		left: 80%;
		background-color: #fff;
		display: none;
	}

	.options li a {
		text-align: right;
	}

	.notmobile {
		display: block;
	}


	.kirkback {
		position: absolute;
		z-index: 2;
		width: 100%;
		height: 100vh;
		background: transparent url('../images/guitar_bw.jpg') no-repeat 0 0;
		background-size: cover;
	}

	.mainlogo {
		width: 400px;
		margin: 0 0 0 3%;
		display: inline-block;
		float: left;
	}
	.videoContainer {
	    position:absolute;
	    height:100%;
	    width:100%;
	    overflow: hidden;
			background-size: cover;
			background: transparent url('../images/guitar_bw.jpg') no-repeat 0 0;
			margin-top: -80px;
	}
	.videoContainer video {
	    min-width: 100%;
	    min-height: 100vh;
	}
	nav {
		background-color: rgba(0,0,0, 1);
		height: 80px;
		width: 100%;
		border-bottom: 1px solid #000;
		z-index: 20;
		position: relative;
	}
	nav ul {
		list-style-type: none;
		float: right;
		margin-top: 20px;
	}

	#guitar-details {
		z-index: 2;
		position: relative;
		font-family: sans-serif;
		color: #fff;
		width: 60%;
		margin-left: 3%;
		margin-top: 100px;
		display: none;
		font-family: "proxima-nova", sans-serif;
		padding-bottom: 50px;
	}

}

@media (max-width: 480px) {
	/*.mobilehide {
		display: none;
	}*/
}
