body {
	background-color: black;
}

.play {
	position: absolute;
	z-index: 10;
	height: 80px;
	color: white;
}

.play svg {
	display: block;
	width: 50;
	height: 50;
	color: white;
}

.videoContainer {
    /*position: absolute;*/
    width: 90%;
		height: auto;
    overflow: hidden;
		margin: 0 auto;
		background: transparent url('../images/guitar_bw.jpg') no-repeat 0 0;
		/*background-size: 100%;*/
   	background-size:cover;
}

.videoContainer video {
    min-width: 100%;
    min-height: 100%;
}

header {
	z-index: 1;
	position: relative;
}

.purple_overlay {
	background-color: rgba(0,0,0,.5);
	height: 100vh;
	position: fixed;
	z-index: -1;
}

.main_image {
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: -2;
}

.mainlogo {
	width: 300px;
	padding-top: 20px;
	margin: 0 auto;
	display: block;
}

nav {
	background-color: rgba(0,0,0, 0);
	height: 80px;
	width: 100%;
	border-bottom: 1px solid #000;
}

nav ul {
	list-style-type: none;
	float: right;
	/*background-color: #4d1975;*/
}

nav ul li {
	font-family: "metalista-web";
	font-size: 2em;
	line-height: 80px;
	float: left;
	margin-top: -17px;
}

nav ul li a {
	display: block;
	line-height: 80px;
	padding: 0 10px;
	color: #bbb;
}

nav ul li a:hover {
	/*background-color: #4d1975;*/
	color: #4d1975;
}

nav ul li a {
	text-decoration: none;
}

#guitar-details {
	z-index: 2;
	position: relative;
	font-family: sans-serif;
	color: #fff;
	width: 40%;
	margin-left: 5%;
	margin-top: 200px;
	display: none;
	font-family: "proxima-nova", sans-serif;
}

#guitar-details h2 {
	font-family: "metalista-web";
	font-weight: 400;
	font-size: 3em;
	margin: 0;
}

#guitar-details h1 {
	font-family: "metalista-web";
	font-weight: 400;
	font-size: 8em;
	margin: -20px 0 0 0;

}

@media (min-width: 1000px) {
	.mainlogo {
		width: 500px;
		margin: 0 0 20px;
		display: inline-block;
	}
	.videoContainer {
	    position:absolute;
	    height:100%;
	    width:100%;
	    overflow: hidden;
			margin-top: -180px;
			background-size: cover;
			background: transparent url('../images/guitar_bw.jpg') no-repeat 0 0;
	}
	.videoContainer video {
	    min-width: 100%;
	    min-height: 100%;
	}
	nav {
		background-color: rgba(0,0,0, .6);
		height: 80px;
		width: 100%;
		border-bottom: 1px solid #000;
	}
}

@media (min-width: 600px) {
	.mainlogo {
		width: 430px;
		margin: 0px 0 0 20px;
		display: inline-block;
	}
}

@media (max-width: 480px) {
	/*.mobilehide {
		display: none;
	}*/
}
